body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #010001;
}

.header {
  min-height: 62px;
  background: black;
  margin: auto;
  max-width: 1230px;
  width: 100%;
}

.header__wrapper {
  padding: 9px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 188px;
  height: 16px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.item-link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  margin-right: 20px;
  font-size: 12px;
  line-height: 14px;
}

.item-link--1 {
  color: #808080;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  font-family: Roboto, sans-serif;
  margin-right: 20px;
}

.grid__22 {
  margin-top: -17px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.grid__25 {
  margin-top: -7px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.grid__31 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.grid__line--1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  margin-top: 68px;
}

.grid__line--2 {
  margin-top: -15px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.grid__line--3 {
  margin-top: -7px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 7 / 8;
}

.grid__img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/ 9;
}

.full-screen {
  background: none;
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 15px;
}

.full-screen__container {
  max-width: 1230px;
  margin: 0 auto;
}

.full-screen__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 100px 2fr;
      grid-template-columns: 2fr 100px 2fr;
  -ms-grid-rows: (minmax(97px, max-content))[8];
      grid-template-rows: repeat(8, minmax(97px, -webkit-max-content));
      grid-template-rows: repeat(8, minmax(97px, max-content));
  grid-auto-columns: 220px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.full-screen__secondary {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 /4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  background: none;
  margin: 0;
  max-height: 60px;
  font-size: 32px;
  color: #fff;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.full-screen__secondary--1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  font-family: Roboto, sans-serif;
  color: #fff;
  background: none;
  z-index: 2;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.full-screen__secondary--2 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 /7;
  font-family: Roboto, sans-serif;
  color: #fff;
  background: none;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  z-index: 2;
  font-size: 32px;
  max-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.full-screen__body {
  grid-row: span 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.full-screen__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.full-screen__title {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 22px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  z-index: 2;
}

.full-screen__title--1 {
  font-family: Roboto, sans-serif;
  background: none;
  font-size: 36px;
  color: #FFF;
}

.full-screen__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  font-size: 38px;
  max-width: 90px;
  max-height: 90px;
  color: #ffffff;
  font-weight: 700;
  padding-right: 22px;
  padding-left: 22px;
  z-index: 2;
  border: solid 3px #fff;
  border-radius: 50%;
}

.full-screen__text--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto, sans-serif;
  background: none;
  color: #ffffff;
  font-weight: 500;
  position: relative;
  z-index: 2;
}

.full-screen__text--img {
  background: none;
  font-size: 38px;
  max-width: 90px;
  max-height: 90px;
  color: #ffffff;
  font-weight: 700;
  padding-top: 7px;
  padding-left: 17px;
  z-index: 2;
  border: solid 3px #fff;
  border-radius: 50%;
  background: none;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 34px;
  display: flex;
  justify-self: center;
  align-items: center;
}

.full-screen__img--2 {
  background: none;
  height: 50px;
  width: 50px;
}

.full-screen__line {
  z-index: 2;
  background: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.full-screen__line::after {
  content: "";
  width: 3px;
  height: 114px;
  background-color: #FFFFFF;
}

.container {
  background-color: #878787;
}

.container__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50 15px;
  font-size: 18px;
  line-height: 150%;
}

.container .wrapper--secondary {
  max-width: 340px;
  max-height: 550px;
}

p {
  margin: 0;
}

.footer {
  padding-top: 80px;
  padding-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin-top: 48px;
  margin-bottom: 43px;
}

.footer-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  text-align: center;
  margin-bottom: 30px;
}

.footer__button {
  color: #FFFFFF;
  background-color: #010001;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  padding: 20px;
  min-width: 260px;
  min-height: 60px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer__nav {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 28px;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */