.roadmap-video
  position: absolute
  top: 0
  right: 0
  bottom: 0
  width: 100%
  height: auto
  object-fit: none
  z-index: -2
.roadmap-media
  position: relative
  padding-bottom: 56.25%
.intro
  position: relative
  max-height: 100vh
  overflow: hidden
